
.finisher-container[b-obmp5tgc3v] {
    position: fixed;
    width: 100%;
    height: 100vh; 
    z-index: -1; 
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blur-container[b-obmp5tgc3v]{
    width: 100%;
    height: 100%;
    
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.01);

    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box[b-obmp5tgc3v] {
    position: relative;
    z-index: 1;
    width: 350px;
    padding: 30px;
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);          
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.center-box input[b-obmp5tgc3v] {
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 0 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.page[b-obmp5tgc3v] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-obmp5tgc3v] {
    flex: 1;
}

h2[b-obmp5tgc3v]{
    color: white;
    font-size: 40px;
    font-family: "Franklin Gothic Medium", Arial, sans-serif; 
    
    
    text-align: center;
    text-transform: uppercase;
}









.sidebar[b-obmp5tgc3v] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-obmp5tgc3v] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-obmp5tgc3v]  a, .top-row[b-obmp5tgc3v]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-obmp5tgc3v]  a:hover, .top-row[b-obmp5tgc3v]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-obmp5tgc3v]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-obmp5tgc3v] {
        justify-content: space-between;
    }

    .top-row[b-obmp5tgc3v]  a, .top-row[b-obmp5tgc3v]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-obmp5tgc3v] {
        flex-direction: row;
    }

    .sidebar[b-obmp5tgc3v] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-obmp5tgc3v] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-obmp5tgc3v]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-obmp5tgc3v], article[b-obmp5tgc3v] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
